html{
    height:100%;
    --footer_height : 60px;

}
body{
    margin:0;
    padding: 0;
}

.footer{
    position: fixed;
    bottom:0;
    height: 5%; 
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: rgba(0, 0, 0, 0.616);
    z-index: 200;
    min-width: 100%;
}


  .social-media{
    margin: 20px 0;
    display : flex;
    justify-content: center;
    align-items: center;

  }
  
  .social-media a{
    color: #ffffff;  
    margin-right: 25px;
    font-size: 25px;
    text-decoration: none;
    transition: .3s linear;
  }
  /* .social-media{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  } */
  
  .social-media a:hover{
    color: #FF0000;
  }
  .social-media a:nth-of-type(1):hover{
    color: #1DA1F2;
  }
  
  .social-media a:nth-of-type(2):hover{
    color: #E23569;
  }

  
  .right-col h1{
    font-size: 26px;
  }
  
  .border{
    width: 100px;
    height: 4px;
    background: #fc5c65;
  }
  
 
 
  
  .btn{
    padding: 18px 40px;
    font-size: 16px;
    color: #f1f1f1;
    background: #fc5c65;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    margin-left: 20px;
    cursor: pointer;
    transition: opacity .3s linear;
  }
  
  .btn:hover{
    opacity: .7;
  }
  
  .page-content{
    min-height: 100vh;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media screen and (max-width:960px) {
    .right-col{
      width: 100%;
      margin-bottom: 60px;
    }
  
    .left-col{
      width: 100%;
      text-align: center;
    }
  }
  
  
  @media screen and (max-width:700px){
    .btn{
      margin: 0;
      width: 100%;
      margin-top: 20px;
      }
  }