/*  POPUP */
.overlay {
    position: fixed;
    z-index: 9998;
    font-family: 'Muli', sans-serif;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.65);
    overflow: hidden;
  }
  
  
  .popup {
    position: absolute;
   width: 50rem;
    max-width: 90vw;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 4rem;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  
  
 
  .exit-btn{
    width:42px;
    height:42px;
    position:absolute;
    background: #FFFFFF;
  border: 1px solid #EEF1F9;
    border-radius:50%;
    top:25px;
    right:25px;
    display:flex;
  align-items:center;
  justify-content:center;
    cursor:pointer;
  
  }


 
.yt-btn {
  padding: 12px 24px;
  background-color: hsl(0, 93%, 42%);
  color: hsl(0, 0%, 100%);
  border-radius: 6px;
  text-decoration: none;
  box-shadow: 0 0 0 0 rgba(189, 72, 72, 0.7);
  animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
}
.yt-btn:hover{
  color: hsl(0, 0%, 100%);
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 30px rgba(156, 99, 99, 0);
  }
}

.calendar {
  display: inline-block;
  color: hsl(222, 25%, 14%);
  position: relative;
  text-decoration: none;
}

.calendar::after {
   content: '';
   position: absolute;
   width: 100%;
   transform: scaleX(1);
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: hsl(0, 89%, 44%);
   transform-origin: bottom left;
   transition: transform .6s cubic-bezier(0.53, 0.21, 0, 1);
}
.calendar:hover{
  color : rgb(165, 68, 68);

}
.calendar:hover::after {
   transform: scaleX(0);
   transform-origin: bottom right;
}
