*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
  background : black;
  overflow-x: hidden;
}
nav a:hover,
nav a:focus {
	outline: none;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}


.navbar{
    background-image: black;
    padding:0.5em;
}
.navbar-brand {
  display: inline-block;
  letter-spacing: 3px;
  position:absolute;
  font-family: "Poppins",sans-serif;
  font-weight : 600;
  margin-top : 5px;
  margin-left : 2.5em;
}
.navbar li {
    font-family: "Lato", sans-serif;
    margin: 0 3em;
    font-weight:700;
    font-size : 1rem;
    letter-spacing:2px;
    display: inline-block;
    padding:0px ;
    outline : none;
    position: relative;
    text-transform: uppercase;
  
 }

.nav-link::before {
	position: absolute;
	top: -1px;
	left: 8px;
  bottom : 0;
	overflow: hidden;
	padding: 10px 0;
	max-width: 0;
	border-bottom: 2px solid #fff;
	color: #fff;
	content: attr(data-hover) ;
	-webkit-transition: max-width 0.5s;
	-moz-transition: max-width 0.5s;
	transition: max-width 0.4s;
}

.nav-link:hover::before,
.nav-link:focus::before,
.nav-link:active::before
{
	max-width: 100%;
}
.active::before{
  max-width:100%;
}
.logo{
  width:12%;
  height:5em;
}

@media (max-width:992px){
  .navbar-toggle-icon {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    
    .navbar-toggle-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    background-color : white;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }
    
  .navbar-toggle-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    background-color : white;

    }
    
    .navbar-toggle-icon span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    background-color : white;
    transform-origin: left center;
    }
    
    .navbar-toggle-icon span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    }
    
    .navbar-toggle-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
    }
    
    .navbar-toggle-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
    }
    
    .navbar-toggle-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
    }
  

}
.landing{
  display : flex;
  width: 100%;
  height : 80vh;
  position : absolute;
  top : 15%;
  align-items: center;
}
.sub{
  font-family : "Roboto Condensed", sans-serif;
  color : white;
  margin-left: 1em; 
  font-size : 2.5em;
  width : 35%;
  line-height : 60px;
  text-align:center;
  letter-spacing : 2px;
  
}
.sub::before{
  content: "\201C\0020";
  font-size:2em;
  color : rgb(255,0,0,0.6);
}
/* .sub::after{
  content: "\0020\201D";
  font-size:2em;
  color : rgb(255,0,0,0.6);

} */

@media (min-width:992px) and (max-width:1190px){
  .navbar li {
    margin: 0 2em;
    padding-right: 10px;
    font-size : 0.9rem;
    letter-spacing:2px;
  
 }
 .logo{
   width : 15%;
   height : 5em;

 }
 
}
@media (max-width:991px) {
 
  .navbar-brand {
    display: inline-block;
    letter-spacing: 2px;
    position:relative;
    font-family: "Poppins",sans-serif;
    font-weight : 600;
    margin-top : 5px;
    margin-left:0; 
  }
  
  .nav-link{
    max-width:fit-content;
  }
   
  .nav-link::before {
      position: absolute;
      top: -1px;
      left: 0px;
      overflow: hidden;
      padding: 10px 0;
      max-width: 0;
      border-bottom: 2px solid #fff;
      color: #fff;
      content: attr(data-hover);
      -webkit-transition: max-width 0.5s;
      -moz-transition: max-width 0.2s;
      transition: max-width 0.2s;
    }
    
    .nav-link:hover::before,
    .nav-link:focus::before {
      max-width: 100%;
    }
    .logo{
      width : 22%;
      height : 5em;
   
    }
    
  }
  
  @media (max-width : 991px){
    .landing{
      display : flex;
      height : 80vh;
      position : absolute;
      width : fit-content;
      align-items: center;
    }
    #navbarTogglerDemo02{
      background-color:rgba(0, 0, 0, 0.9) ;
    }
    
    .sub{
      font-family : "Roboto Condensed", sans-serif;
      color : white;
      font-size : 3em;
      width : 100vw;
      top:0%;
      position: absolute;
      line-height : 75px;
      text-align:center;
      letter-spacing : 2px;
      
    }
    .sub::before{
      content: "\201C\0020";
      font-size:1.5em;
      color : red;
    }
    .sub::after{
      content: "\0020\201D";
      font-size:1.5em;
      color : red;
    
    }
    
  }
  
    
.center{
  display : flex;
  flex-wrap:wrap;
  justify-content: center;

}
 
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2em;
  /* flex-shrink: 50%; */
}

.card {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  padding: 1.5rem;
  background: rgba(255, 255, 255,0.9);
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 2px 5px rgba(255,255, 255, 0.5);
}
.card:before{
      background: rgba(0, 0, 0, 0.6);

}


.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}
.card .info {
  display: flex;
  flex-direction: column;
  width : 100%;
  justify-content: center;
  align-items: center;
  height : 50%;
  position: relative;
  z-index: 3;
  text-align : center;
  margin : 1em;
  transform: translateY(30px);
  transition: 0.4s;
}
.card .info h1 {
  margin: 0px;
}
.card .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}


.card h1 {
  position: relative;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 800;
  font-family: 'Lato', sans-serif;
  color: rgba(255, 0, 0, 0.8);
}
.wrapper > .card:nth-of-type(3) h1{
  font-size: 2.5em;
}
.card h1:before {
  position: absolute;
  content: attr(data-hover);
  color: rgb(255, 255, 255);
  top: 2px;
  left: 2px;
}
.info a{
  outline : 0;
  text-decoration: none;
  padding: 0.6rem;
  outline: none;
  border: none;
  margin : 0.5em;
  border-radius: 3px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}
.info a:hover{
    background: black;
    color: white;
  
}


 @media(hover){ 
  
  .center{
    display : flex;
    justify-content: center;
  }
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    display: grid;
    width: 40% ;
    grid-gap : 2em;
    grid-column-gap : 4em;
    justify-items: center;
  }
  .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
  }
  .card:hover {
    transform: translateY(15px);
  }
  .card:hover:before {
    opacity: 1;
  }
  .card:hover .info {
    opacity: 1;
    transform: translateY(0px);
  }
  .card .info{
    opacity: 0;

  }
} 
.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 100px;
  height: 0;
  /* overflow: hidden; */
}
.video-container {
  max-width: 600px;
  margin: auto;

}
.scrolled {
  background: rgb(8, 8, 8,1);
  transition: background 500ms;
}




 @media (min-width : 991px) and (max-width:1440px){
  .center{
    display : flex;
    flex-wrap:wrap;
    justify-content: center;
  }
   
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 20vw; */
    grid-gap: 2em;
    margin-left: 4em;
  
  }
  
  .card {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    padding: 1.5rem;
    background: rgba(255, 255, 255,0.9);
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 2px 5px rgba(255,255, 255, 0.5);
  }
  .card:before{
        background: rgba(0, 0, 0, 0.6);
  
  }
  
  
  .card img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
  }
  .card .info {
    display: flex;
    flex-direction: column;
    width : 100%;
    justify-content: center;
    align-items: center;
    height : 50%;
    position: relative;
    z-index: 3;
    text-align : center;
    margin : 1em;
    transform: translateY(30px);
    transition: 0.4s;
  }
  .card .info h1 {
    margin: 0px;
  }
  .card .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
  }
  
  
  .card h1 {
    position: relative;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
    color: rgba(255, 0, 0, 0.8);
  }
  .wrapper > .card:nth-of-type(3) h1{
    font-size: 2.5em;
  }
  

 }