*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
  background : black;
  overflow-x: hidden;
}
nav a:hover,
nav a:focus {
	outline: none;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}


.navbar{
    background-image: black;
    padding:0.5em;
}
.navbar-brand {
  display: inline-block;
  letter-spacing: 3px;
  position:absolute;
  font-family: "Poppins",sans-serif;
  font-weight : 600;
  margin-top : 5px;
  margin-left : 2.5em;
}
.navbar li {
    font-family: "Lato", sans-serif;
    margin: 0 3em;
    font-weight:700;
    font-size : 1rem;
    letter-spacing:2px;
    display: inline-block;
    padding:0px ;
    outline : none;
    position: relative;
    text-transform: uppercase;
  
 }

.nav-link::before {
	position: absolute;
	top: -1px;
	left: 8px;
  bottom : 0;
	overflow: hidden;
	padding: 10px 0;
	max-width: 0;
	border-bottom: 2px solid #fff;
	color: #fff;
	content: attr(data-hover) ;
	-webkit-transition: max-width 0.5s;
	-moz-transition: max-width 0.5s;
	transition: max-width 0.4s;
}

.nav-link:hover::before,
.nav-link:focus::before,
.nav-link:active::before
{
	max-width: 100%;
}
.active::before{
  max-width:100%;
}
.logo{
  width:12%;
  height:5em;
}

@media (max-width:992px){
  .navbar-toggle-icon {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    
    .navbar-toggle-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    background-color : white;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }
    
  .navbar-toggle-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    background-color : white;

    }
    
    .navbar-toggle-icon span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    background-color : white;
    transform-origin: left center;
    }
    
    .navbar-toggle-icon span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    }
    
    .navbar-toggle-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
    }
    
    .navbar-toggle-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
    }
    
    .navbar-toggle-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
    }
  

}
.landing{
  display : flex;
  width: 100%;
  height : 80vh;
  position : absolute;
  top : 15%;
  align-items: center;
}
.sub{
  font-family : "Inter", sans-serif;
  color : white;
  margin-left: 1em; 
  font-size : 2.5em;
  width : 35%;
  font-weight : 600;
  line-height : 60px;
  text-align:center;
  letter-spacing : 2px;
  
}
.sub::before{
  content: "\201C\0020";
  font-size:2em;
  color : rgb(255,0,0,0.6);
}


@media (min-width:992px) and (max-width:1190px){
  .navbar li {
    margin: 0 2em;
    padding-right: 10px;
    font-size : 0.9rem;
    letter-spacing:2px;
  
 }
 .logo{
   width : 15%;
   height : 5em;

 }
 
}
@media (max-width:991px) {
 
  .navbar-brand {
    display: inline-block;
    letter-spacing: 2px;
    position:relative;
    font-family: "Poppins",sans-serif;
    font-weight : 600;
    margin-top : 5px;
    margin-left:0; 
  }
  
  .nav-link{
    max-width:fit-content;
  }
   
  .nav-link::before {
      position: absolute;
      top: -1px;
      left: 0px;
      overflow: hidden;
      padding: 10px 0;
      max-width: 0;
      border-bottom: 2px solid #fff;
      color: #fff;
      content: attr(data-hover);
      -webkit-transition: max-width 0.5s;
      -moz-transition: max-width 0.2s;
      transition: max-width 0.2s;
    }
    
    .nav-link:hover::before,
    .nav-link:focus::before {
      max-width: 100%;
    }
    .logo{
      width : 22%;
      height : 5em;
   
    }
    
  }
  
  @media (max-width : 991px){
    .landing{
      display : flex;
      height : 80vh;
      position : absolute;
      width : fit-content;
      align-items: center;
    }
    #navbarTogglerDemo02{
      background-color:rgba(0, 0, 0, 0.9) ;
    }
    
    .sub{
      /* font-family : "Roboto Condensed", sans-serif; */
      font-family :  'Segoe UI', sans-serif;
      color : white;
      font-size : 3em;
      width : 100vw;
      top:0%;
      position: absolute;
      line-height : 75px;
      text-align:center;
      letter-spacing : 2px;
      
    }
    .sub::before{
      content: "\201C\0020";
      font-size:1.5em;
      color : red;
    }
    
    
  }
  
    
.center{
  display : flex;
  flex-wrap:wrap;
  justify-content: center;
}
 
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2em;
  /* flex-shrink: 50%; */
}

.card {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  padding: 1.5rem;
  margin-top : 1em;
  background: rgba(255, 255, 255,0.9);
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 2px 5px rgba(255,255, 255, 0.5);
}
.card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block; 
    width: 100%;
    height: 100%;
     border-radius: 15px; 
    z-index: 2; 
    background: rgba(46, 46, 46, 0.6);



}


.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}
.card .info {
  display: flex;
  flex-direction: column;
  width : 100%;
  justify-content: center;
  align-items: center;
  height : 50%;
  position: relative;
  z-index: 3;
  text-align : center;
  margin : 1em;
  transform: translateY(30px);
  transition: 0.4s;
}
.card .info h1 {
  margin: 0px;
}
.card .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}


.card h1 {
  position: relative;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 800;
  font-family: 'Lato', sans-serif;
  color: rgba(255, 0, 0, 0.8);
}
.wrapper > .card:nth-of-type(3) h1{
  font-size: 2.5em;
}
.card h1:before {
  position: absolute;
  content: attr(data-hover);
  color: rgb(255, 255, 255);
  top: 2px;
  left: 2px;
}
.info a{
  outline : 0;
  text-decoration: none;
  padding: 0.6rem;
  outline: none;
  border: none;
  margin : 0.5em;
  border-radius: 3px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}
.info a:hover{
    background: black;
    color: white;
  
}


 @media(hover){ 
  
  .center{
    display : flex;
    justify-content: center;
  }
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    display: grid;
    width: 40% ;
    grid-gap : 2em;
    grid-column-gap : 4em;
    justify-items: center;

  }
  .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(65, 65, 65, 0.4);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
  }
  .card:hover {
    transform: translateY(15px);
  }
  .card:hover:before {
    opacity: 1;
  }
  .card:hover .info {
    opacity: 1;
    transform: translateY(0px);
  }
  .card .info{
    opacity: 0;

  }
} 

.scrolled {
  background: rgb(8, 8, 8,1);
}


 @media (min-width : 991px) and (max-width:1440px){
  .center{
    display : flex;
    flex-wrap:wrap;
    justify-content: center;
  }
   
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 20vw; */
    grid-gap: 2em;
    margin-left: 4em;
  
  }
  
  .card {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    padding: 1.5rem;
    background: rgba(255, 255, 255,0.9);
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 2px 5px rgba(255,255, 255, 0.5);
  }
  
  
  .card img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
  }
  .card .info {
    display: flex;
    flex-direction: column;
    width : 100%;
    justify-content: center;
    align-items: center;
    height : 50%;
    position: relative;
    z-index: 3;
    text-align : center;
    margin : 1em;
    transform: translateY(30px);
    transition: 0.4s;
  }
  .card .info h1 {
    margin: 0px;
  }
  .card .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
  }
  
  
  .card h1 {
    position: relative;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
    color: rgba(255, 0, 0, 0.8);
  }
  .wrapper > .card:nth-of-type(3) h1{
    font-size: 2.5em;
  }
  
}
@media (max-width : 480px){
  html{
    zoom : 85%;
  }

  .center{
    display : flex;
    flex-wrap:wrap;
    justify-content: center;
    /* opacity: 0; */
    margin-left : 2em;
    margin-bottom: 40%;
  
  }
   
  .wrapper {
    position:absolute;
    left : 100%;
    display: grid;
    grid-template-columns: 1fr ;
    /* grid-template-rows: 1fr 1fr; */
    grid-gap: 2em;
    /* flex-shrink: 50%; */
  }
  
  .card {
    width: 100vw;
    height: 300px;
    border-radius: 15px;
    padding: 1.5rem;
    background: rgba(255, 255, 255,0.9);
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 2px 5px rgba(255,255, 255, 0.5);
  }
  .card:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block; 
      width: 100%;
      height: 100%;
       border-radius: 15px; 
      z-index: 2; 
      background: rgba(46, 46, 46, 0.6);
  
  }
  
  
  .card img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
  }
  .card .info {
    display: flex;
    flex-direction: column;
    width : 100%;
    justify-content: center;
    align-items: center;
    height : 50%;
    position: relative;
    z-index: 3;
    text-align : center;
    margin : 1em;
    transform: translateY(30px);
    transition: 0.4s;
  }
  .card .info h1 {
    margin: 0px;
  }
  .card .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
  }
  
  
  .card h1 {
    position: relative;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 100;
    font-family: 'Lato', sans-serif;
    color: rgba(255, 0, 0, 0.8);
  }
  .wrapper > .card:nth-of-type(3) h1{
    font-size: 2.5em;
  }
  .card h1:before {
    position: absolute;
    content: attr(data-hover);
    color: rgb(255, 255, 255);
    top: 2px;
    left: 2px;
  }
  .info a{
    outline : 0;
    text-decoration: none;
    padding: 0.6rem;
    outline: none;
    border: none;
    margin : 0.5em;
    border-radius: 3px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
  }
  .info a:hover{
      background: black;
      color: white;
    
  }
  .card h1:before {
    position: absolute;
    content: attr(data-hover);
    color: rgb(255, 255, 255);
    top: 2px;
    left: 2px;
  }
  
  .wrapper > .card:nth-of-type(3) h1{
    font-size: 3em;
  }
  .sub{
    font-size : 2em;
    line-height : 50px;
    letter-spacing : 3px;
  }
  .logo{
    width : 30%;
  }
  .video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 100px;
    height: 0;
  }
  .video-container {
    max-width: 600px;
    margin: auto;
  
  }
  #debate,#speech{
    zoom : 85%;
  }
  .sub::before{
    content: "\201C";
    font-size:2.5em;
    color : rgb(255,0,0,0.6);
  }
  .sub{
    margin-top : 15px;
    margin-bottom:20px;
  }
  .active::before{
    max-width:100%;
  }
}
@media(max-width:991px) and (min-width:480px){
  .center{
    display : flex;
    flex-wrap:wrap;
    /* opacity: 0; */
    margin-left : 15vw;
    /* margin-top: 10vh; */
  
  }
   
  .wrapper {
    position:absolute;
    left : 100%;
    display: grid;
    grid-template-columns: 1fr ;
    /* grid-template-rows: 1fr 1fr; */
    grid-gap: 2em;
    /* flex-shrink: 50%; */
  }
  .card {
    width: 60vw;
    height: 300px;
  }
  .wrapper > .card:nth-of-type(3) h1{
    font-size: 3em;
    color: rgb(255, 9, 9);
    font-family:"Lato",sans-serif;
    font-weight : 800;
    /* -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: rgb(228, 55, 55);
     */

  }
  }
  .wrapper > .card:nth-of-type(3) h1:before{
    content: attr(data-hover);
    color :rgb(143, 133, 133);

    
  }
  .wrapper > .card h1{
    font-weight:800;
    
  }
  .active::before{
    max-width:100%;
  }
  

@media (min-width:300px) and (max-width:991px){
  .wrapper  .card:nth-of-type(3) h1{
    font-size: 3em;
    color: rgb(255, 254, 254);
    font-family:"Lato",sans-serif;
    font-weight : bold;
    text-shadow : 2px 2px 1px red;
  }
  .wrapper  .card:nth-of-type(4) h1{
    font-size: 3em;
    color: rgb(255, 253, 253);
    font-family:"Lato",sans-serif;
    font-weight : bold;
    text-shadow : 2px 2px 1px red;

  }
  .wrapper  .card:nth-of-type(4) h1:before{
    content : "";
  }
  .wrapper > .card:nth-of-type(3) h1:before{
    content: "";
    
  }
  .active::before{
    max-width:100%;
  }
  .wrapper .card:nth-of-type(4){
    /* padding-bottom: 20px; */
    margin-bottom: 20px;
   
  
  }
}

#about{
  font-family: "Lato",sans-serif;
  font-size : 2em;
  color: rgb(255, 255, 255,0.7);
  font-weight:400;
  /* height : 50vw; */
  width : 70%;
  position : absolute;
  height : 100%;
  margin-top : 20vh;
  margin-left : 13vw;
  hyphens: auto;  /* text-align: center; */

}
#about-title{
  color :rgb(240, 10, 0);
  font-weight : 700;
  font-size : 1.1em;
}
 #debate h1, #speech h1{
  font-family: 'Oswald', sans-serif;
   color : white;
  position : absolute;
  top : 15vh;
  left : 40%;
  z-index : 1;
  font-weight : normal;
  letter-spacing: -2px;
  text-decoration: underline 2px #e24f4f80;
}
 #debate h1::first-letter, #speech h1::first-letter{
  color : red;
} 
.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25vh;
  height: 0;
}
.video-container
{
  max-width: 600px;
  margin: auto;
  padding : 2em;
}
#debate .video h3, #speech .video h3{
  color : rgb(255, 255, 255,0.7);
  font-size : 0.7em;
  position : absolute;
  top : 23vh;
}
.video h3 span{
  color : red;
  font-size : 1.2em ;
  text-transform: uppercase;
}




.container h1 {
  font-family: 'Poppins', sans-serif, 'arial';
  font-weight: 600;
  font-size: 60px;
  color: rgb(240, 235, 235);
  text-align: center;
  position : relative;
  top : 15vh;
}

.input-container{
  position : relative;
  top: 15vh;
}


.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px){
  .styled-input {
      width:100%;
  }
}



.styled-input.wide { 
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; 
border : 1px solid white;}

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

#contactSubmit {
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: #f4f5f8;
  margin-bottom : 1em;
  color: black;
  font-size: 18px;
  cursor: pointer;
  font-weight : 600;
  letter-spacing: 1px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
            0 2px 10px 0 rgba(0,0,0,0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

#contactSubmit:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgb(214, 214, 214),
            0 1px 1px 0 rgb(143, 143, 143);
}

@media (max-width: 768px) {
  .submit-btn {
      width:100%;
      float: none;
      text-align:center;
  }
}


@media (max-width:900px){
 .container h1{
   font-size: 10vw;
 }
}

.alert{
  background: rgb(96, 194, 66);
  color : white;
  position: relative;
  text-align: center;
  width : 50%;
  left:25%;
  top:18vh;
  font-size : 1.2em;
  display: none;
}

